@model FirstWebApplication.Models.Post
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowPost</title>
</head>
<body>
    Post Id : @Model.Id
    <br />
    Post : @Model.PostText
    <br />
    Category : @Model.Category
</body>
</html>
