body {
    background-color: #4caf5b;
}
img {
    height: 50px;
    width: 50px;
}
span{
    text-decoration:underline;
    color:darkblue;
    font-size:medium;
}
p{
    font-size:small;
}
div {
/*    border-color: black  yellow;
    border-style: solid;
    border-width: 2px;*/
   border: 2px white solid;
   height: 100px;
   width:100px;
   float:left;
   margin-left:5px;
}
#div1{
    background-color:antiquewhite;
}
#div2 {
    background-color: magenta;
}
#div3{
    padding:10px;
}